/* GENERAL STYLING */

main {
    margin: auto;
    max-width: 900px;
}

.inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

/* NAVBAR STYLING */

/* INTRO SECTION */

#intro {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro-text {
    max-width: 500px;
}

/* ABOUT SECTION */

#about-headshot {
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 12px 12px 0 0 #3a3a3a;
}

.tech-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* EXPERIENCE SECTION */

#experience {
    max-width: 80%;
}

.experience-inner {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 50px;
}

/* PROJECTS SECTION */

.projects-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.project-img {
    width: 100%;
}


.project-tech-list {
    display: flex;
    justify-content: space-between;
}

.project-icons {
    display: flex;
}

.project-icons.left {
    justify-content: flex-start;
}

.project-icons.right {
    justify-content: flex-end;
}

.project-icon {
    padding: 0 8px;
}

/* OTHER PROJECTS SECTION */

.other-projects-title {
    text-align: center;
}

.other-projects-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.other-project-icons {
    display: flex;
    justify-content: space-between;
}

/* INTERESTS SECTION */

#photography-img {
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 12px 12px 0 0 #3a3a3a;
}

/* CONTACT SECTION */

#contact {
    text-align: center;
    margin: auto;
}

#contact-text {
    margin: auto;
    max-width: 500px;
}

/* FOOTER STYLING */

footer {
    text-align: center;
}